.center {
    text-align: center!important;
}

.bottom {
    position: absolute;
    bottom:0;
    width:100%;
}

.absolute {
    position: absolute;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

.toastStyle > .Toastify__toast-body {
    padding: 10px;
}

.toastStyle > .Toastify__close-button {
    padding: 2px;
}



@media only screen and (min-width: 600px) {
    .position-bottom {
        bottom:0!important;
        position:absolute;
        width:100%;
    }
}

@media only screen and (max-width: 575px) {
    .row {
        display:block;
    }
}

.margin-bottom {
    margin-bottom: 10px!important;
}

.margin-top-30 {
    margin-top:30px;
}

a > img {
    padding-bottom: 4px;
}